.status {
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  width: 35px;
}
.ativo {
  background-color: #92d050;
}
.fcs {
  background-color: #00b0f0;
  color: white;
}
.re {
  background-color: #0070c0;
  color: white;
}
.pd {
  background-color: #ff0000;
  color: white;
}
.fns {
  background-color: #ff6600;
  color: white;
}
