.container {
  width: 100vw;
  margin: 10px;
}
.full-width {
  width: 100%;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #ff884d;
  }
  .mat-form-field-ripple {
    background-color: #ff884d;
  }
  .mat-form-field-required-marker {
    color: #ff884d;
  }
  .mat-input-element {
    color: #ff884d;
  }
}
::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: #ff33cc;
  }
  .mat-form-field-label {
    color: #ff33cc;
    .mat-form-field-required-marker {
      color: #ff33cc;
    }
  }
  .mat-form-field-ripple {
    background-color: #ff33cc;
  }
}
