<div class="container">
  <div class="pure-g">
    <form [formGroup]="vigilanteForm" (ngSubmit)="onSubmit()">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="pure-u-1 pure-u-sm-1-4">
          <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Id" formControlName="id" readonly/>
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-sm-1-4">
          <button
            [hidden]="!vigilanteForm.dirty"
            mat-raised-button
            color="primary"
            type="submit"
            class="pure-u-1-3"
          >
            Salvar
          </button>
        </div>
        <div class="pure-u-1">
          <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="nome" />
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="CPF" formControlName="cpf" />
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="Celular" formControlName="celular" />
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>Matricula</mat-label>
            <input
              matInput
              placeholder="Matricula"
              formControlName="matricula"
            />
          </mat-form-field>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>Cadastro</mat-label>
            <input
              matInput
              readonly
              placeholder="Cadastro"
              formControlName="cadastro"
            />
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>Admissão</mat-label>
            <input
              matInput
              [matDatepicker]="apicker"
              formControlName="admissao"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="apicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #apicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <mat-form-field class="full-width">
            <mat-label>Desligamento</mat-label>
            <input
              matInput
              [matDatepicker]="dpicker"
              formControlName="desligamento"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dpicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <ul>
          <li>Relação de Postos</li>
          <li>Registros</li>
        </ul>
      </div>
    </form>
  </div>
</div>
