<div class="modal-header">
  <h4 class="modal-title">Criar Registro</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="registroActiveModal.dismiss()"
  ></button>
</div>
<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="data"
              placeholder="data"
              formControlName="data"
            />
            <label for="data">Data*</label>
            <div
              class="alert alert-warning"
              style="font-size: 14px; padding: 0"
              *ngIf="
                registroForm.get('data')?.invalid &&
                (registroForm.get('data')?.dirty ||
                  registroForm.get('data')?.touched)
              "
            >
              Informe a data para registro.
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.vigilanteNome" [term]="t"></ngb-highlight>
          <p style="font-size: 12px">{{ r.escala }} - {{ r.grupo }}</p>
        </ng-template>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="posto"
            placeholder="Vigilante*"
            [ngbTypeahead]="vigilante"
            [resultTemplate]="rt"
            formControlName="posto"
            [inputFormatter]="formatter"
            [editable]="false"
          />
          <label for="vigilante">Vigilante*</label>
          <div
            class="alert alert-warning"
            style="font-size: 14px; padding: 0"
            *ngIf="
              registroForm.get('posto')?.invalid &&
              registroForm.get('posto')?.touched
            "
          >
            Informe o posto/vigilante valido para registro.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-floating mb-3">
            <select
              id="status"
              placeholder="Status*"
              class="form-select"
              formControlName="status"
            >
              <option value=""></option>
              <option value="{{s.nome}}" *ngFor="let s of statusLista">{{s.nome}} - {{s.descricao}}</option>
            </select>
            <label for="status">Status*</label>
            <div
              class="alert alert-warning"
              style="font-size: 14px; padding: 0"
              *ngIf="
                registroForm.get('status')?.invalid &&
                registroForm.get('status')?.touched
              "
            >
              Informe o status para registro.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="horario"
              placeholder="horario"
              formControlName="horario"
            />
            <label for="horario">Horário</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="substituto"
            placeholder="substituto"
            [ngbTypeahead]="substituto"
            formControlName="substituto"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
          />
          <label for="substituto">Substituto</label>
        </div>
      </div>

      <div class="row">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="observacoes"
            formControlName="observacoes"
          ></textarea>
          <label for="observacao">Observações</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-primary">Salvar</button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="registroActiveModal.close()"
      >
        Cancelar
      </button>
    </div>
  </div>
</form>
