<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Efetividade do dia - {{ valueDia | date : "dd/MM/yyyy" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGrupos" (ngSubmit)="send()">
        <h6>Grupos</h6>
        <div
          class="form-check"
          *ngFor="let grupo of this.grupos; let i = index"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="grupo"
          />
          <label class="form-check-label" for="flexCheckDefault">
            <button
              type="button"
              (click)="listaVigilantes(this.grupos[i], 10)"
              class="btn btn-light"
            >
              {{ grupo }}
            </button>
          </label>
        </div>
      </form>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="send()">Criar</button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close()"
  >
    Cancelar
  </button>
</div>
