<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Gerar por grupo</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <form [formGroup]="formGrupos" (ngSubmit)="send()">
      <h6>Grupos</h6>
      <div class="row">
        @for (grupo of this.grupos; track $index) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="grupo"
          />
          <label class="form-check-label" for="flexCheckDefault">
            <button
              type="button"
              (click)="listaVigilantes(this.grupos[$index], 10)"
              class="btn btn-light"
            >
              {{ grupo }}
            </button>
          </label>
        </div>
        }
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="send()">Criar</button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close()"
  >
    Cancelar
  </button>
</div>
