<nav
  *ngIf="isAutenticado()"
  class="navbar navbar-expand-md navbar-light bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <span class="navbar-brand">Gestor</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      id="navbarContent"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown1"
            role="button"
          >
            Vigilância
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown1"
            class="dropdown-menu"
          >
            <a ngbDropdownItem routerLink="vigilancia/vigilantes">Vigilantes</a>
            <a ngbDropdownItem routerLink="vigilancia/postos">Postos</a>
            <hr class="hr" />
            <a ngbDropdownItem routerLink="vigilancia/efetividade">Efetividade</a>
            <a ngbDropdownItem routerLink="vigilancia/planilha">Planilha</a>
            <a ngbDropdownItem routerLink="vigilancia/planilha/import">Importar</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown2"
            role="button"
          >
            Claviculário
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown2"
            class="dropdown-menu dropdown-menu-end"
          >
            <a ngbDropdownItem routerLink="claviculario">Empréstimos</a>
            <a ngbDropdownItem routerLink="claviculario/pessoas">Pessoas</a>
            <a ngbDropdownItem routerLink="claviculario/chaves">Chaves</a>
          </div>
        </li>

        <li
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-end"
        >
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown3"
            role="button"
          >
            <i class="bi bi-person-circle"></i>
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown3"
            class="dropdown-menu"
          >
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
              >Opções</a
            >
            <hr class="hr" />
            <a ngbDropdownItem routerLink="alterarsenha">Alterar senha</a>
            <a ngbDropdownItem routerLink="usuarios">Usuários</a>
            <a ngbDropdownItem href="#" (click)="doLogout()">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
