<div class="container">
  <div class="mat-elevation-z8" id="main">
    <div class="pure-g">
      <div class="pure-u-1-3">
        <h1>Vigilantes</h1>
      </div>
      <div class="pure-u-1-3">
        <button mat-fab color="primary" aria-label="add" (click)="criar()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="pure-u-1-3">
        <form [formGroup]="filtro">
          <div>
            <input
              type="text"
              formControlName="texto"
              placeholder="filtro"
              (keyup)="doFilterchange()"
            />
          </div>
        </form>
      </div>
    </div>
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-fab
            color="primary"
            aria-label="editar"
            (click)="get(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            class="red"
            aria-label="delete"
            onclick="delete(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
