<div class="container">
  <div class="dados">
    <div><strong>Login:</strong> {{ usuario.username }}</div>
    <div><strong>Nome:</strong> {{ usuario.nome }}</div>
    <div><strong>Setor:</strong> {{ usuario.setor }}</div>
    <div><strong>Email:</strong> {{ usuario.email }}</div>
    <div><strong>Cadastro:</strong> {{ usuario.cadastro }}</div>
  </div>
  <div class="pure-grid">
    <div class="pure-u-1">
      <label for="senhaAtual">Senha atual</label>
      <input
        type="password"
        id="senhaAtual"
        formControlName="senhaAtual"
        class="pure-u-23-24"
      />
    </div>
    <div class="pure-u-1">
      <label for="novaSenha">Nova senha</label>
      <input
        type="password"
        id="novaSenha"
        formControlName="novaSenha"
        class="pure-u-23-24"
      />
    </div>
    <div class="pure-u-1">
      <label for="repetirNovaSenha">Repetir nova senha</label>
      <input
        type="password"
        repetirNovaSenha="repetirNovaSenha"
        formControlName="repetirNovaSenha"
        class="pure-u-23-24"
      />
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="pure-u-1"
        (click)="alterarSenha()"
      >
        Alterar
      </button>
    </div>
  </div>
</div>
