<div class="container">
  <div class="row mt-3">
    <div class="col"><h1>Usuários</h1></div>
    <div class="col">
      <button class="btn btn-outline-primary" (click)="novo()">Novo</button>

    </div>
  </div>
  <div class="row">
    <app-table
      [columns]="[
        { name: 'Usuário', key: 'username', type: 'string', pipe: '' },
        { name: 'Nome', key: 'nome', type: 'string', pipe: '' },
        { name: 'Setor', key: 'setor', type: 'string', pipe: '' },
        { name: 'Email', key: 'email', type: 'string', pipe: '' },
        { name: 'Ação', key: '', type: 'action', pipe: '' }
      ]"
      [data]="lista"
      [btnreset]="true"
      (onEdit)="editar($event)"
      (onDelete)="deletar($event)"
      (onReset)="resetar($event)"
    ></app-table>
  </div>
</div>
